LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd
lesser_of_two_evens(2,4) --> 2
lesser_of_two_evens(2,5) --> 5

In [1]:
def check_even(a,b):
    if a%2 == 0 and b%2 == 0:
        if a > b:
            return b
        else:
            return a
    else:
        if a > b:
            return a
        else:
            return b

In [2]:
check_even(4,4)

4

In [3]:
check_even(4,6)

4

In [4]:
check_even(9,6)

9

ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
animal_crackers('Levelheaded Llama') --> True
animal_crackers('Crazy Kangaroo') --> False

In [5]:
def animal_crackers(text):
    word = text.lower().split()
    
    return word[0][0] == word[1][0]

In [6]:
animal_crackers("akash akki")

True

In [7]:
animal_crackers("vikas akash")

False

In [8]:
# LEVEL 1 PROBLEMS

In [9]:
#OLD MACDONALD

OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
old_macdonald('macdonald') --> MacDonald

In [10]:
def old_macdonald(text):
    result = ""
    
    for i,a in enumerate(text):
        if i == 0 or i == 3:
            result += a.upper()
        else:
            result += a.lower()
            
    return result

In [11]:
old_macdonald("akash")

'AkaSh'

In [14]:
old_macdonald("macdonald")

'MacDonald'

In [15]:
# MASTER YODA

MASTER YODA: Given a sentence, return a sentence with the words reversed
master_yoda('I am home') --> 'home am I'
master_yoda('We are ready') --> 'ready are We'

In [24]:
def master_yoda(text):
    word = text.split()
    
    return word[::-1]

In [25]:
a = master_yoda("I am Home")

In [28]:
" ".join(a)

'Home am I'

In [29]:
# ALMOST THERE

ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200
almost_there(90) --> True
almost_there(104) --> True
almost_there(150) --> False
almost_there(209) --> True

In [49]:
def almost_there(number):
    if -10 >= (number - 100) <= 10:
        return True
    elif -10 >= (number - 200) <= 10:
        return True
    else:
        return False

In [55]:
almost_there(90)

True

MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False
makes_twenty(20,10) --> True
makes_twenty(12,8) --> True
makes_twenty(2,3) --> False

In [59]:
def marks_twenty(a,b):
    if a == 20 or b == 20:
        return True
    elif a+b == 20:
        return True
    else:
        return False

In [60]:
marks_twenty(20,10)

True

In [61]:
marks_twenty(10,10)

True

In [62]:
marks_twenty(2,17)

False

In [63]:
#LEVEL 2 PROBLEMS

In [64]:
#FIND 33:

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

has_33([1, 3, 3]) → True
has_33([1, 3, 1, 3]) → False
has_33([3, 1, 3]) → False

In [67]:
def find_33(number):
    for n in range(0,len(number)-1):
        if number[n] == 3 and number[n+1] == 3:
            return True
        else:
            pass
    return False

In [68]:
find_33([1,2,3,4,3,3])

True

In [69]:
find_33([1,2,1,2])

False

PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
paper_doll('Hello') --> 'HHHeeellllllooo'
paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [72]:
def paper_doll(text):
    result = " "
    for item in text:
        result += item*3
        
    return result

In [73]:
paper_doll("akash")

' aaakkkaaassshhh'

In [74]:
paper_doll('Mississippi')

' MMMiiissssssiiissssssiiippppppiii'


BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
blackjack(5,6,7) --> 18
blackjack(9,9,9) --> 'BUST'
blackjack(9,9,11) --> 19

In [82]:
def black_jack(a,b,c):
    sum = a+b+c
    if sum <= 21:
        return sum
    elif sum > 21 and (a==11 or b == 11 or c == 11):
        x = sum - 10
        if x > 21:
            return "BUST"
        else:
            return x
    else:
        return "BUST"

In [83]:
black_jack(1,2,3)

6

In [84]:
black_jack(9,9,9)

'BUST'

In [85]:
black_jack(9,9,11)

19

SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
summer_69([1, 3, 5]) --> 9
summer_69([4, 5, 6, 7, 8, 9]) --> 9
summer_69([2, 1, 6, 9, 11]) --> 14

In [94]:
def summer_of_69(number):
        total = 0
        add = True
        for a in number:
            while add:
                if a != 6:
                    total += a
                    break
                else:
                    add = False
                    break
            while not add:
                if a!= 9:
                    break
                else:
                    add = True
                    break
        return total

In [95]:
summer_of_69([1,2,3,4])

10

In [96]:
summer_of_69([1,2,3,4,6,9])

10

In [97]:
summer_of_69([1,2,3,4,6,7,8,9])

10

In [98]:
summer_of_69([1,2,9])

12